<html>
    <head>
        <title>Awesome site</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/assets/css/home/home.css" />
        <link rel="stylesheet" href="/assets/css/home/post.css" />
    </head>
    <body>
       <div class="header-div">
           <div class="child-header-div">
               <div id="app-name">
                   <span>Challenge Hub</span>
               </div>

               <div class="publish-challenge">
                <a href="/make/challenge/" style="text-decoration: none;color:black;">
                    <button><img src='/assets/icons/edit.svg' /> Publish a challenge</button>
                </a>
               </div>

               <div class="profile-div">
                   <div id="name">
                       <span>{{.Username}}</span>
                   </div>

                   <div id="pic">
                       <a href="/profile/" style="text-decoration: none;color:black;">
                        <button>{{.User}}</button>
                       </a>
                   </div>
               </div>
           </div>
       </div>

       <div class="home-show-details" style="margin-top: 15px;">
           {{.Details}}
       </div>
    </body>
</html>